<header>
        <div class="header_container">
            <img src="./images/logo/iaf_main_logo.png" alt="">
            <h1>
                INDIAN AIR FORCE
                <br> भारतीय वायु सेना
            </h1>
            <marquee class="marquee" behavior="" direction="" onmouseover="this.stop()" onmouseout="this.start()">
                AFCAT 02/2021 Registration for AFCAT, NCC and MET branches is closed, The Gallantry Portal launched by Ministry of Defence [
                <a target="_blank" href="https://www.gallantryawards.gov.in/">
                        Click to view
                    </a>], Calendar 2021 Landscape [
                <a target="_blank" href="assets/images/calendar_2021/AS Wall Cal 2021Combined Landscape Low Resolution 17 Dec 20.pdf">
                        CLICK TO DOWNLOAD
            </marquee>
        </div>
    </header>