 <footer>
        <div class="footer">
            <div class="about">
                <h5>ABOUT AFCAT</h5>
                <ul>
                    <li>For queries regarding AFCAT application, admit card and AFCAT centre, contact – AFCAT Cell </li>
                    <li>Tele: 020 - 25503105 / 106</li>
                    <li>Tele Timings: Monday to Friday.</li>
                    <li>9:30 am - 1 pm & 2 pm - 5:00 pm</li>
                    <li>E – Mail:</li>
                </ul>
            </div>
            <div class="links">
                <h5>POPULAR LINKS</h5>
                <ul>
                    <li>Motto of IAF</li>
                    <li>Selection Process</li>
                    <li>Training</li>
                    <li>Guidelines</li>
                    <li>Download Paper</li>
                    <li>IPEV Road Drive</li>
                </ul>
            </div>
            <div class="links2">
                <h5>OTHER LINKS</h5>
                <ul>
                    <li>Video Gallery</li>
                    <li>Image Gallery </li>
                    <li>Benefits</li>
                </ul>

            </div>
            <div class="image"> <img src="./images/logo/iaf_main_logo.png" alt="">
                <p>INDIAN AIR FORCE <br> भारतीय वायु सेना</p>
            </div>

        </div>
        <hr>
        <div class="copyright">
            <h3>COPYRIGHT © 2021 | <a href="https://careerindianairforce.cdac.in/">INDIAN AIR FORCE</a> | DESIGNED AND DEVELOPED BY: <a href="https://cdac.in/">C-DAC</a></h3>
        </div>
    </footer>